.item {
  position: relative;
  min-height: 5rem;
}

.item .badge {
  max-width: 6rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.item header {
  padding: 1rem;
  text-align: center;
  margin-right: 6rem;
}

.item section {
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: justify;
}
