.pagination {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.pagination > * {
  padding: 0.5rem;
}

.pagination svg {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.pagination .arrow {
  background-color: var(--white-color);
  border-radius: 1rem;
}

.pagination .active {
  text-decoration: underline;
}
